* {
    margin: auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    align-items: center;
   
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  img{
    height: 300px;
    width: 450px !important;
    box-shadow: 0px 1px 4px 1px rgb(8, 8, 8);
  
    margin: 20px;
    
  }
  .row{
  margin: auto;
  width: 100%;
  padding: 10px;
    
  }
  .header{
  
      padding: 10px;
      text-align: center;

    }
    .curennt{
      background-color: red;
    }
  